

* { box-sizing: border-box }

a { display:contents; }
a:link { text-decoration: none; }

img {
    height: 50%
}

#intro {
    background: linear-gradient(70deg, rgb(217, 66, 255), rgb(0, 71, 202) ) ;
    color: whitesmoke;
    padding-bottom: 7em;
}

#heading { padding-top: 7em }

#icon1,
#icon2,
#icon3,
#icon4 { transition: all 0.3s }

#icon1:hover,
#icon2:hover,
#icon3:hover,
#icon4:hover {
    border-bottom: solid 5px rgb(149, 47, 245);
    border-radius: 5px;
    color: rgb(149, 47, 245);
}

#project-container {
    display: none;
    margin: auto;
    width: 80%;
}

.card { 
    width: 200px;
    transition: all 0.3s 
}
.card:hover {
    background: rgb(255, 180, 239);
}

#cover-letter {
    display: none;
    background: rgb(149, 47, 245);
    border-radius: 30px;
    padding: 20px;
    color: rgb(233, 233, 233);
}


/* large viewports */
@media (min-width: 1440px) {
    header p {
        max-width: 50%;
    }
}